@mixin box-shadow($top, $left, $blur, $spread, $color) {
  -webkit-box-shadow: $top $left $blur $spread $color;
  -moz-box-shadow: $top $left $blur $spread $color;
  box-shadow: $top $left $blur $spread $color;
}

@mixin btn-color($color, $hover, $text, $text-hover) {
  background: $color;
  color: $text;
  transition: 0.5s;
  &:hover,
  &:focus {
    background: $hover;
    color: $text-hover;
    cursor: pointer;
  }
}
