.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .main-container_list {
    width: 75%;
  }
  .main-container_menu {
    width: 23%;
  }
}

.main-container_main-menu {
  @extend %card-stock;
}

.main-container_menu-item {
  display: block;
  font-family: $main-font;
  margin: 5px;
  &:hover {
    color: $snes-purple;
  }
}

.main {
  color: $accent-color;
}

.sub {
  color: $snes-blue;
  padding-left: 18px;
}
